
<section class="section">
<p class="title has-text-centered">Payment Method </p><br/>
  <div class="container">
    <div class="columns is-centered is-full">
      <div class="column is-8-tablet is-6-desktop is-6-widescreen">
      <% if current_user.stripe_last_4 %>
        <div class="card-header-title is-centered">
        <%= "Your current card: **** **** **** #{current_user.stripe_last_4}" %>
        </div>
      <% end %>
        <%= form_with url: update_payment_path, local:true, id: "payment-form" do |f| %>
          <div class="card form-row">
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
          <div class="field is-grouped is-grouped-centered">
          <%= f.submit "#{current_user.stripe_id ? "Update Card" : "Add Card" }",
                       class:"button is-primary m-t-20"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<script>
  var stripe = Stripe('pk_test_51LdUfWKpF5y3T7ipXMDU8jM9HEIblqqN1ZNf2J84aXbx3pauYjPzgvuZfz0jDucK8YAoLuu8mVGQuqkyTFHCRTIM00eN6D5V2e');
  var elements = stripe.elements();
  
  var style = {
   base: {
      iconColor: '#c4f0ff',
      color: '#000000',
      fontWeight: '500',
      fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
      fontSize: '16px',
      lineHeight: 2.5,
      fontSmoothing: 'antialiased',
      ':-webkit-autofill': {
        color: '#fce883',
      },
      '::placeholder': {
        color: '#87BBFD',
      },
    },
    invalid: {
      iconColor: '#FFC7EE',
      color: '#FFC7EE',
    },
  };
  
  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});
  
  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');
  
  
  card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
  });
  
  // Create a token or display an error when the form is submitted.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
  event.preventDefault();
  
  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
  });
  
  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var errorElement = document.getElementById('card-errors');
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  //Submit the form
  form.submit();
  //errorElement.textContent =token.id;
  }
</script>
