<div class="step-content <%= 'is-active' if @step == 1 %>">
  <div class="field">
    <label  class="label">Gig Title</label>
    <%= f.text_area :title,autocomplete: "title", class: "textarea" %>
  </div>
  <div class="field">
    <label  class="label">Category</label>
    <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id] }, selected: @gig.category_id ))  %>
  </div>

  <div class="field">
  <label class="checkbox">
  <%= f.check_box :has_single_pricing, class: "checkbox", onchange: "this.form.submit();"%> Has Single Price
  </label>
  </div>
  
</div>
